# 0. Imports

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

# 1. Load Dataframe

In [2]:
data = pd.read_csv('datasets/kc_house_data.csv')

In [3]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [4]:
data.shape

(21613, 21)

In [5]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [6]:
data.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [7]:
# Converitng data from object to date
data['date'] = pd.to_datetime(data['date'])

# 2. Filters

In [39]:
price_limit = data['price'].mean()
bedrooms_values = data['bedrooms'].unique()

In [45]:
bedrooms_values

array([ 3,  2,  4,  5,  1,  6,  7,  0,  8,  9, 11, 10, 33])

In [40]:
type(bedrooms_values)

numpy.ndarray

In [41]:
bedrooms_filter = [0, 3]

In [42]:
bedrooms_values[bedrooms_filter]

array([3, 5])

In [46]:
bedrooms_values[bedrooms_filter].tolist()

[3, 5]

In [47]:
data[data['bedrooms'] in bedrooms_values[bedrooms_filter].tolist()][['id','bedrooms']]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [28]:
data[(data['price'] <= price_limit) & (data['bedrooms'] == 2)][['id', 'lat', 'long', 'price', 'bedrooms']]

               id      lat     long     price  bedrooms
2      5631500400  47.7379 -122.233  180000.0         2
11     9212900260  47.6900 -122.292  468000.0         2
18       16000397  47.3089 -122.210  189000.0         2
23     8091400200  47.3533 -122.166  252700.0         2
31     2426039314  47.7274 -122.357  280000.0         2
...           ...      ...      ...       ...       ...
21586  2767604724  47.6707 -122.381  505000.0         2
21588  2767600688  47.6756 -122.375  414500.0         2
21595  1972201967  47.6533 -122.346  520000.0         2
21610  1523300141  47.5944 -122.299  402101.0         2
21612  1523300157  47.5941 -122.299  325000.0         2

[2277 rows x 5 columns]